body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  text-align: center;
  padding: 50px;
}

#container{
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 80vh;
  border-radius: 1rem;
 
} 

input {
  padding: 10px;
  width: 200px;
  border-radius: 0.5rem;
 
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
   background-color: forestgreen;
}

#weatherResult {
  margin-top: 20px;
  
} 

div{
  /* display: grid; */
  grid-template-columns: repeat(2,1fr);
 border-radius: 1rem;
  gap: 0.5rem;
  
}


#cityName{

    margin-left: 2rem;
}

#icon-container{

   color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 3rem;
    
}
.icon{

    border: 2px solid black;
    padding: 1.7rem;
    background-color: rgb(0, 0, 0);
}
